img#logo { 
    margin: 10px;
    border: 1px solid black;
    margin-left: 530px;
    border-radius: 10px;
}

img#portrait {
      margin-left: 420px;
      border: 1px  solid white;
      border-radius: 10px;
      margin-bottom: 10px;
}

h3 {
      text-align: center;
      letter-spacing: 4px;
      
}